<!-- src/main/footer-nav/footer-nav.html -->
<nav class="navbar fixed-bottom navbar-light bg-white navbar-bottom">
    <div class="container-fluid justify-content-around">

        <a class="nav-link" ng-repeat="item in $ctrl.navItems" ng-class="'nav-item-' + item.state.replace('app.', '')"
           ui-sref="{{item.state}}" ui-sref-active="active"  >
            <i class="bi" ng-class="item.icon"></i>
            <span ng-bind="item.label"></span>
        </a>


        <button class="burger-icon" ng-click="$ctrl.toggleOffcanvas()">
            <i class="bi bi-three-dots"></i>
            More
        </button>
        <div class="offcanvas offcanvas-bottom" tabindex="-1" ng-class="{ 'show': $ctrl.isOffcanvasOpen }">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">More Options</h5>
                <button type="button" class="btn-close" ng-click="$ctrl.toggleOffcanvas()" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="d-flex flex-column gap-3">
                    <a class="nav-link" ng-repeat="item in $ctrl.navItems" ui-sref="{{item.state}}"
                       ui-sref-active="active" ng-click="$ctrl.toggleOffcanvas()">
                        <i class="bi" ng-class="item.icon"></i>
                        <span ng-bind="item.label"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>